@import "_theme";

.box {
  display: flex;
  flex-wrap: wrap;
}
.image-dimension {
  height: $height;
  width: $width;
}
.buttonStyle {
  background-color: $button-color !important;
  border: $button-color !important;
  border-radius: $border-radius !important;
  font-family: $font-family !important;
  color: $color !important;
  width: 300px;
}
#buttonHome {
  width: 180px;
}
.addCartOnHover {
  text-align: center;
}
.hrLine {
  border: 1px solid grey;
  max-width: 65%;
}
.productListBox {
  display: flex;
  justify-content: center;
  height: auto;
  justify-content: space-around;
}
